# Leçon SQL 14: Mise à jour des lignes

Outre l'ajout de nouvelles données, une tâche courante consiste à mettre à jour les données existantes, ce qui peut être effectué à l'aide d'une instruction **UPDATE**. Comme pour l' instruction **INSERT**, vous devez spécifier exactement la table, les colonnes et les lignes à mettre à jour. En outre, les données que vous mettez à jour doivent correspondre au type de données des colonnes du schéma de table.

Mettre à jour l'instruction avec des valeurs
``` mysql 
UPDATE mytable
SET column = value_or_expr, 
    other_column = another_value_or_expr, 
    …
WHERE condition;
```

L'instruction fonctionne en prenant plusieurs paires colonne / valeur et en appliquant ces modifications à chaque ligne qui satisfait à la contrainte de la clause **WHERE**.

## Faire attention

La plupart des personnes travaillant avec SQL **feront** des erreurs de mise à jour des données à un moment ou à un autre. Qu'il s'agisse de mettre à jour le mauvais ensemble de lignes dans une base de données de production ou d'omettre accidentellement la clause **WHERE** (ce qui entraîne l'application de la mise à jour à * toutes * les lignes), vous devez faire très attention lors de la construction des instructions UPDATE.

Une astuce utile consiste à toujours écrire la contrainte en premier et à la tester dans une requête **SELECT** pour vous assurer que vous mettez à jour les bonnes lignes, puis à écrire uniquement les paires colonne / valeur à mettre à jour.

## Exercice

Il semble que certaines des informations de notre base de données ** Films ** soient incorrectes, alors n'hésitez pas et corrigez-les en suivant les exercices ci-dessous.

**IMPORTANT : Afin de répondre aux questions de l'exercise d'insérer la requête entre les doubles quotes " "**

In [3]:
import pandas as pd

def to_df(s):
    l= [elt.split(';') for elt in s.replace("	", ";").split('\n')]
    return pd.DataFrame(l[1:], columns=l[0])

In [4]:
from pandasql import sqldf

In [5]:
x="""Id	Title	Director	Year	Length_minutes
1	Toy Story	John Lasseter	1995	81
2	A Bug's Life	John Lasseter	1998	95
3	Toy Story 2	John Lasseter	1999	93
4	Monsters, Inc.	Pete Docter	2001	92
5	Finding Nemo	Andrew Stanton	2003	107
6	The Incredibles	Brad Bird	2004	116
7	Cars	John Lasseter	2006	117
8	Ratatouille	Brad Bird	2007	115
9	WALL-E	Andrew Stanton	2008	104
10	Up	Pete Docter	2009	101
11	Toy Story 3	Lee Unkrich	2010	103
12	Cars 2	John Lasseter	2011	120
13	Brave	Brenda Chapman	2012	102
14	Monsters University	Dan Scanlon	2013	110"""
Movies = to_df(x)

In [6]:
Movies

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110

1. Le réalisateur de A Bug's Life est incorrect, il a en fait été réalisé par John Lasseter

In [16]:
QUERY1 = "UPDATE Movies SET Director='John Lasseter' WHERE Title = 'A Bug's life'"

In [17]:
sqldf(QUERY1)

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110

2. L'année de sortie de Toy Story 2 est incorrecte, elle est en fait sortie en 1999

In [7]:
QUERY2 = "UPDATE Movies SET Year=1999 WHERE Title = 'Toy Story 2'"

In [8]:
sqldf(QUERY2)

PandaSQLException: (sqlite3.OperationalError) no such table: Movies
[SQL: UPDATE Movies SET Year=1999 WHERE Title = 'Toy Story 2']
(Background on this error at: http://sqlalche.me/e/13/e3q8)

3. Le titre et le réalisateur de Toy Story 8 sont incorrects! Le titre devrait être "Toy Story 3" et il a été réalisé par Lee Unkrich

In [16]:
QUERY3 = "UPDATE Movies SET Title='Toy Story 3' WHERE Title = 'Toy Story 8'"

In [17]:
sqldf(QUERY3)

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110