# Leçon SQL 15: Suppression de lignes

Lorsque vous devez supprimer des données d'une table de la base de données, vous pouvez utiliser une instruction **DELETE**, qui décrit la table sur laquelle agir et les lignes de la table à supprimer via la WHEREclause.

Supprimer l'instruction avec condition
``` mysql 
DELETE FROM mytable
WHERE condition;
```

Si vous décidez d'omettre la contrainte **WHERE**, alors *toutes* les lignes sont supprimées, ce qui est un moyen rapide et facile d'effacer complètement une table (si intentionnelle).

## Faire  attention

Comme l'instruction **UPDATE** de la dernière leçon, il est recommandé d'exécuter d'abord la contrainte dans une requête **SELECT** pour vous assurer que vous supprimez les bonnes lignes. Sans une base de données de sauvegarde ou de test appropriée, il est carrément facile de supprimer irrévocablement des données, alors lisez toujours vos instructions **DELETE** deux fois et exécutez-les une fois.

## Exercice

La base de données doit être nettoyée un peu, alors essayez de supprimer quelques lignes dans les tâches ci-dessous.

**IMPORTANT : Afin de répondre aux questions de l'exercise d'insérer la requête entre les doubles quotes " "**

In [1]:
import pandas as pd

def to_df(s):
    l= [elt.split(';') for elt in s.replace("	", ";").split('\n')]
    return pd.DataFrame(l[1:], columns=l[0])

In [2]:
from pandasql import sqldf

In [3]:
x="""Id	Title	Director	Year	Length_minutes
1	Toy Story	John Lasseter	1995	81
2	A Bug's Life	John Lasseter	1998	95
3	Toy Story 2	John Lasseter	1999	93
4	Monsters, Inc.	Pete Docter	2001	92
5	Finding Nemo	Andrew Stanton	2003	107
6	The Incredibles	Brad Bird	2004	116
7	Cars	John Lasseter	2006	117
8	Ratatouille	Brad Bird	2007	115
9	WALL-E	Andrew Stanton	2008	104
10	Up	Pete Docter	2009	101
11	Toy Story 3	Lee Unkrich	2010	103
12	Cars 2	John Lasseter	2011	120
13	Brave	Brenda Chapman	2012	102
14	Monsters University	Dan Scanlon	2013	110"""
Movies = to_df(x)

In [4]:
Movies

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110

1. Cette base de données devient trop volumineuse, supprimons tous les films sortis avant 2005.

In [5]:
QUERY1 = "DELETE FROM Movies WHERE Year < 2005;"

In [17]:
sqldf(QUERY1)

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110

2. Andrew Stanton a également quitté le studio, veuillez donc supprimer tous les films réalisés par lui.

In [16]:
QUERY2 = "DELETE FROM Movies WHERE Director = 'Andrew Stanton';"

In [17]:
sqldf(QUERY2)

    Id                Title        Director  Year Length_minutes
0    1            Toy Story   John Lasseter  1995             81
1    2         A Bug's Life   John Lasseter  1998             95
2    3          Toy Story 2   John Lasseter  1999             93
3    4       Monsters, Inc.     Pete Docter  2001             92
4    5         Finding Nemo  Andrew Stanton  2003            107
5    6      The Incredibles       Brad Bird  2004            116
6    7                 Cars   John Lasseter  2006            117
7    8          Ratatouille       Brad Bird  2007            115
8    9               WALL-E  Andrew Stanton  2008            104
9   10                   Up     Pete Docter  2009            101
10  11          Toy Story 3     Lee Unkrich  2010            103
11  12               Cars 2   John Lasseter  2011            120
12  13                Brave  Brenda Chapman  2012            102
13  14  Monsters University     Dan Scanlon  2013            110